<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Hotel-Ynov-B3{% endblock %}</title>
  {# templates/base.html.twig #}

  {# beware that the blocks in your template may be named different #}
  {% block head_css %}
  <!-- <link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css">
  {% endblock %}
  {% block head_js %}
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  {% endblock %}
  {% block stylesheets %}{% endblock %}

  {% block javascripts %}{% endblock %}
</head>
<body>
  {% block body %}
  {% include "navbar.html.twig" %}
  <div style="height:80vh" class="container d-flex flex-column align-items-center justify-content-center">
    <h1 style="font-size:5em;">Blog Ynovian</h1>
    <h2>Un blog pour ce qui compte vraiment.</h2>


    <div class="mb-3 mt-5">
      {% if app.user %}
      <h5>You are logged in as {{ app.user.firstname }} {{ app.user.lastname }}, <a href="{{ path('app_logout') }}">Logout</a></h5>
      {% else %}
      <h5>You are not logged in, <a href="{{ path('app_login') }}">Login</a></h5>
      {% endif %}
      <a href=""></a>
    </div>

  </div>
  {% endblock %}
</body>
</html>
