<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Hôtel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/">Home</a>
    </li>
    {% if app.user %}
    <li class="nav-item active">
      <a class="nav-link" href="{{ path('user_index')}}">User</a>
    </li>
    {% endif %}
    {%if app.user%}
    <li class="nav-item">
      <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
    </li>
    {% endif %}
  </ul>
</div>
</nav>
